:root{
--red: hsl(0, 78%, 62%);
--cyan: hsl(180, 62%, 55%);
--orange: hsl(34, 97%, 64%);
--blue: hsl(212, 86%, 64%);
--very-dark-blue: hsl(234, 12%, 34%);
--grayish-blue: hsl(229, 6%, 66%);
--very-light-gray: hsl(0, 0%, 98%);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    background-color: var(--very-light-gray);
}
.container{
    margin: 40px 70px 40px 70px;
}
.container .headings{
    text-align: center;
}

.container .headings h1{
    color: var(--very-dark-blue);
    font-weight: 200;
    letter-spacing: 1px;
}
.container .headings h2{
    color: var(--very-dark-blue);
    font-weight: 600;
    letter-spacing: 0.5px;
}
p.heading-description{
    padding: 10px 25px 10px 25px;
    color: hsl(229, 6%, 66%);
    font-weight: 200;
}

.card-wrapper .first-card-wrapper,.card-wrapper .second-card-wrapper,.card-wrapper .third-card-wrapper,.card-wrapper .fourth-card-wrapper{
    border-radius: 5px;
    background-color: white;
    border-top: 3px solid;
    margin: 20px 20px 15px 20px;
    box-shadow: -5px 8px 15px -3px var(--very-dark-blue);
}
.card-wrapper .first-card-wrapper{
    border-color: var(--cyan);
}
.card-wrapper .second-card-wrapper{
    border-color: var(--red);
}
.card-wrapper .third-card-wrapper{
    border-color: var(--orange);
}
.card-wrapper .fourth-card-wrapper{
    border-color: var(--blue);
}
h3, p{
    padding: 0px 20px 30px 20px;

}
h3{
    padding-top: 20px;
    padding-bottom: 7px;
    color: var(--very-dark-blue);
    font-weight: 600;
}
p{
    color: var(--grayish-blue);
    font-weight: 400;
    font-size: 14px;
}
img{
    margin-left: 140px;
    height: 40px;
    width: 40px;
    margin-bottom: 15px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 768px) {
    body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    }
    .container{
        margin: 10px 0px 0px 0px
    }
    .card-wrapper{
        display: flex;
        align-items: center;
        justify-content: center;
        
        
    }
    .desktop-wrapper{
        
        align-items: center;
        justify-content: center;
        
    }
    .card-wrapper .first-card-wrapper,.card-wrapper .second-card-wrapper,.card-wrapper .third-card-wrapper,.card-wrapper .fourth-card-wrapper{
        width: 300px;
        height: 170px;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    p{
        padding-bottom: 20px;
    }
    img{
        margin-left: 230px;
    }
    .heading-description{
        width:50%;
        transform: translateX(250px);
    }
    .attribution{
        padding-top: 20px;
    }
}
